* {
   margin: 0;
   padding: 0;
   font-family: "Roboto", sans-serif;
   color: black;
}
html,
body {
   height: 100%;
}
#root {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.main {
   flex: 1 1 auto;
   padding-bottom: 150px;
   background: #f2f5fc;
}
.disable-span > span {
   pointer-events: none;
}
.header-burger {
   display: none;
}
.info-card-flex {
   text-transform: uppercase;
}
.paginate-prev-btn,
.paginate-next-btn {
   display: none !important;
}
.input-container-modal-adaptive {
   margin-top: 30px !important;
   display: flex !important;
   flex-direction: column !important;
   gap: 50px !important;
}
@media screen and (max-width: 600px) {
   .header-btn {
      width: 100px;
      font-size: 10px !important;
      padding: 0;
   }
   .info-card-flex-home,
   .info-card-flex {
      width: 100% !important;
   }
   .header-nav-bar {
      display: none;
   }
   .header-burger {
      display: block;
      position: absolute;
      right: 5%;
   }
   .header-burger > svg {
      font-size: 2rem !important;
   }
   .header-nav-item {
      margin-left: 40% !important;
   }
   .btn-select-genre {
      width: 70% !important;
      font-size: 10px !important;
      padding: 5px !important;
   }
   .container-select-genre {
      text-align: center !important;
   }
   .btn-container-select-genre {
      align-items: center !important;
   }
   .paginate-btn-container {
      display: none !important;
   }
   .paginate-prev-btn,
   .paginate-next-btn {
      display: block !important;
   }
   .song-img-adaptive {
      display: block;
      margin: 20px auto;
      max-width: 90% !important;
      height: 300px !important;
   }
   .song-desc-container {
      align-items: center;
   }
   .song-desc-container > p {
      font-size: 1.1rem;
   }
   .song-text-container > p {
      font-size: 1.7rem;
   }
   .song-text-container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 !important;
   }
   .artist-container-adaptive > img {
      width: 90% !important;
   }
   .artist-container-adaptive > div > p:nth-child(2) {
      font-size: 1rem !important;
   }
   .artist-container-adaptive > div > div {
      width: 100vw !important;
      align-items: center !important;
   }
   .artist-container-adaptive > div > div > div {
      width: 80% !important;
      height: 400px !important;
   }
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
   .info-card-flex-home {
      width: 60% !important;
      height: 500px !important;
   }
}
@media screen and (min-width: 576px) and (max-width: 900px) {
   .info-card-flex {
      width: 70% !important;
      height: 500px !important;
   }
   .song-desc-container {
      align-items: center;
   }
   .song-title-adaptive {
      margin-top: 30px !important;
   }
   .song-text-container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 !important;
   }
   .song-container-adaptive {
      align-items: center;
   }
}
@media screen and (min-width: 768px) and (max-width: 1247px) {
   .info-card-flex {
      width: 44.4% !important;
   }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
   .song-img-adaptive {
      width: 80% !important;
      height: 500px !important;
   }
   .header-list {
      gap: 5px !important;
   }
}
@media screen and (max-width: 280px) {
   .comment-desc-container-adaptive > img {
      display: none;
   }
}
@media screen and (max-width: 900px) {
   .input-comment-adaptive {
      width: 100% !important;
   }
   .comment-form-container-adaptive {
      margin-top: 20% !important;
   }
   .comment-text-container {
      width: 100% !important;
   }
   .comment-desc-container-adaptive {
      width: 95% !important;
   }
   .img-contianer-adaptive-profile {
      width: 100%;
      align-items: center !important;
   }

   .desc-contianer-adaptive-profile {
      margin: 40px 0 0 0 !important;
      text-align: center;
   }
   .desc-contianer-adaptive-profile > p {
      font-size: 1.2rem !important;
   }
   .desc-contianer-adaptive-profile > p > p {
      font-size: 1.2rem !important;
      display: block !important;
      margin: 0 !important;
   }
   .desc-contianer-adaptive-profile > p > span {
      font-size: 1.2rem !important;
   }
   .input-container-modal-adaptive > textarea {
      width: 70% !important;
   }
   .img-contianer-adaptive-profile {
      margin: 0 auto;
   }
   .select-playlist-card {
      width: 80% !important;
   }
}
@media screen and (min-width: 1250px) {
   .input-container-modal-adaptive {
      align-items: center;
   }
   .input-container-modal-adaptive > div {
      width: 70% !important;
   }
}
@media screen and (max-width: 1200px) {
   .artist-container-adaptive {
      align-items: center !important;
      /* justify-content: flex-start; */
   }
   .artist-container-adaptive > div > p:first-child {
      font-size: 1.3rem !important;

      margin-top: 80px !important;
   }
}
